html {
    box-sizing: border-box;
    }
    *, *::before, *::after {
    box-sizing: inherit;
    }

html {
    font-family: 'Open Sans', sans-serif;
    font: size 110%;
}

nav {
    background-color:#0E1215;
    box-sizing: border-box;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.button {
    list-style-type: none;
    text-align: end;
    display: flex;
    flex-direction: row;

}

.button > li {
    box-sizing: border-box;
    padding: 0.75rem;
}
    
.wrapper {
    width: 1280px;
}

.navimg {
    width: 100%;
    display: block;
}

.aboutme img {
    float: right;
    width: 550px;
    margin-top: -3rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.aboutme p {
    box-sizing: border-box;
    padding-right: 10rem
}

.aboutme {
    box-sizing: border-box;
    margin-top: 5rem;
    margin-bottom: 15rem;
    margin-left: 2rem;
}

.logocreate {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2px;
    background-color: #ffffff;
}

.webdes {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2px;
    background-color: #ffffff;
}

.fullbrand {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2px;
    background-color:#ffffff;
    
}

.serbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2rem;
}

.services {
    box-sizing: border-box;
    padding: 5rem;
    margin: 0;
    background-color: #FAFAFA;
}

.services h2 {
    text-align: center;
} 

.logo figure {
    width: 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
   

.mywork {
    text-align: center;
}

.mywork > p {
    margin-left: 18rem;
    margin-right: 18rem;
}

.reviews {
    background-color: black;
    color: #ffffff;
}

.oneres {
    box-sizing: border-box;
    margin: 5rem;
    padding: 3rem;
}

.twores {
    box-sizing: border-box;
    margin: 5rem;
    padding: 3rem;
}

.quotes {
    display: flex;
    flex-direction: row;
}

.reviews > h2 {
    text-align: center;
}

.motto {
    text-align: center;
    margin-left: 18rem;
    margin-right: 18rem;
}

.contactme > p {
    text-align: center;
    margin-left: 18rem;
    margin-right: 18rem;
}

.workimg {
    display: flex;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color:#0E1215;
    box-sizing: border-box;
    padding: .25px;
}